<html>
    <head>
        <title>Django Practice blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Practice Blog</a></h1>
        </div>

        {% for post in posts %}
            <div style="border: solid black">
                <p>Published: {{ post.published_date }} . Author: {{post.author}}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
    </body>
</html>