body {
    background-color: yellow;
    text-align: center;
}

h1 a, h2 a {
    color: #FCA205;
    font-family: 'Gloria Hallelujah', sans-serif;
}

.blogpost {
    background-color: white;
    border: solid black;
    margin: 5%;
    border-radius: 5%;
}